/*      E N C A B E Z A D O     */
/********************************/

.navbar .logo-text{
    font-size: 1.2rem;
    
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;

    text-transform: none;
    transition: color 0.25s ease;
    color: antiquewhite;
}

.navbar .logo-text:hover{
    color: white;
}

.navbar .nav-link.nav-text{
    font-size: 1rem;
    position: relative;
    transition: color 0.25s ease;
    
    font-family: 'Brygada 1918',serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;

    text-transform: none;
    color: antiquewhite;
}

.navbar .nav-link.nav-text:hover{
    color: white;
    transform: scale(1.05);
}

.navbar .nav-link.nav-text::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3px;
    width: 0;
    height: 2px;
    opacity: 0.9;
    background-color: antiquewhite;
    transition: width 0.3s ease;
}

.navbar .nav-link.nav-text:hover::after{
    width: 90%;
    justify-content: center;
}



/* Agrega la barra 
.navbar .nav-link.nav-text:not(:last-child)::after {
    content: "";
    height: 12px;
    width: 1px;
    background-color: white;
    vertical-align: middle;
}

  Saco la barra en mobile     
@media (min-width: 992px) {

  .nav-menu {
    gap: 40px;
  }

  .nav-menu .nav-link {
    position: relative;
  }

  .nav-menu .nav-link:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -20px; 
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 1px;
    background-color: white;
  }
}


*/

/*      M A I N         */
/*  SECTION INICIO  */

.section-inicio {
    text-align: center;
    align-items: center;
    display: flex;
    
    background-image: url("/imagenes/section 1.png");
    background-size: cover;       /* que cubra todo */
    background-position: center;  /* centrada */
    background-repeat: no-repeat; /* que no se repita */

}

.section-inicio h1{
    font-size: 1.2rem;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;

    text-transform: none;


    color: antiquewhite;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.section-inicio {
    min-height: 80vh;
}

.section-inicio .btn{
    background-color: #DC5A5C;
    font-size: 1rem;
    font-family: "Cinzel", serif;
    font-weight: 800;

    color: antiquewhite;
    border: none;

    transition: all 0.2s ease;
}

.section-inicio .btn:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    background-color: #DC5A5C;
    color: white;
}

.section-inicio .btn:focus,
.section-inicio .btn:active,
.section-inicio .btn:focus:active{
    background-color: #DC5A5C;
    color: white;
    box-shadow: none;
}


.section-2{
    text-align: center;
    align-items: center;
    display: flex;
    min-height: 60dvh;

    background-image: url("/imagenes/section 2.png");
    background-size: cover;       /* que cubra todo */
    background-position: center;  /* centrada */
    background-repeat: no-repeat; /* que no se repita */
}

.section-2 h3, .section-2 h5 , .section-3 h3{
    color: #3C3664;
}




/*          C A R R U S E L         */
/*************************************/
.section-3{
    background-image: url("/imagenes/section cursos.jpg");
    background-size: cover;       /* que cubra todo */
    background-position: center;  /* centrada */
    background-repeat: no-repeat; /* que no se repita */

    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 60dvh;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-img-wrapper {
  width: 100%;
  aspect-ratio: 4 / 4;
  overflow: hidden;
  border-radius: 8px;
}

.carousel h3{
    color: #3C3664;
}







/*        C A T A L O G O         */
/**********************************/

.catalogo-intro{
    margin: 25% 0;
    font-family: 'Brygada 1918',serif;
    font-optical-sizing: auto;
    font-size: medium;
    font-weight:500;
    font-style: normal;
}

.curso img{
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.curso img:hover{
  transform: translateY(-1px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.3);
}



/*      F O R M U L A R I O         */
/************************************/

.formularioContacto{
    padding: 15% 0;

    background-image: url("/imagenes/section cursos.jpg");
    background-size: cover;       /* que cubra todo */
    background-position: center;  /* centrada */
    background-repeat: no-repeat; /* que no se repita */
    width: 100%;

}

.formularioContacto h2{
    margin: 25% 0;
    font-family: 'Brygada 1918',serif;
    font-optical-sizing: auto;
    font-size:xx-large;
    font-weight:500;
    font-style: normal;
    color: #3C3664;
}

.formularioContacto label{
    color:#332e55;
}

.form-contacto{
    width: 100%;
    max-width: 500px;
    padding: 30px;

    background-color: #DECAC6;
    border-radius: 10px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}


/*------------ F O O T E R ------------*/
/***************************************/
.footer-class{
    background-image: url("/imagenes/footer.png");
    background-size: cover;       /* que cubra todo */
    background-position: center;  /* centrada */
    background-repeat: no-repeat; /* que no se repita */
}






/******************************************************************************************************/
/*                                        P A G I N A S                                               */


/*************************************/
/*           C U R S O S             */

.curso-hero{
  height: 380px;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 60px;

  background-image: 
    linear-gradient(to right, rgba(0,0,0,0.65), rgba(0,0,0,0.2)),
    url("/imagenes/cursos/banner-dibujo-pintura.png");

  background-size: cover;
  background-position: center;
}

.curso-hero h1{
  font-size: 2.6rem;
  max-width: 600px;
}

.curso-hero p{
  max-width: 500px;
  opacity: 0.9;
}

.hero-overlay{
  color: white;
  padding-left: 60px;
}



/******************/
.curso-info{
  background: #f3f3f3;
  padding: 25px;
  border-radius: 8px;
}

/******************/
.profesor{
  display: flex;
  align-items: center;
  gap: 20px;
}

.profesor img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}